# Sphinx documentation
docs/_build/
docs/autosummary/


newanalysis_source/newanalysis/*
newanalysis_source/build/*
newanalysis_source/not_build/*
test_cases/*/*/*.dat

# Distribution / packaging
eggs/
.eggs/
*.egg-info/
*.egg
